/* line 3, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\000033}}
.product {
  margin-top: 45px;
  position: relative;
}
/* line 7, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\000037}}
.product .logo {
  width: 42px;
  height: 43px;
  position: absolute;
  top: -30px;
  right: 30px;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: 0 0;
}
/* line 18, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000318}}
.banner {
  margin-top: 90px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 657px;
  overflow: hidden;
}
/* line 26, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000326}}
.banner img {
  z-index: 99999999999999999999999999;
  opacity: 0.6;
  position: relative;
  display: none;
}
/* line 34, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000334}}
.banner > .item:nth-child(1) {
  background: url(../images/3836/banner/p1.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 13px;
  left: 179px;
  width: 103px;
  height: 146px;
  z-index: 9;
}
/* line 45, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000345}}
.banner > .item:nth-child(2) {
  background: url(../images/3836/banner/p2.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 8px;
  left: 245px;
  width: 470px;
  height: 279px;
  z-index: 99;
}
/* line 56, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000356}}
.banner > .item:nth-child(3) {
  background: url(../images/3836/banner/p3.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 610px;
  width: 248px;
  height: 164px;
  z-index: 9;
}
/* line 68, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000368}}
.banner > .item:nth-child(4) {
  background: url(../images/3836/banner/1.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 195px;
  left: -86px;
  width: 265px;
  height: 215px;
  z-index: 1;
}
/* line 79, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000379}}
.banner > .item:nth-child(5) {
  background: url(../images/3836/banner/2.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 355px;
  left: -12px;
  width: 215px;
  height: 174px;
  z-index: 2;
}
/* line 90, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\0000390}}
.banner > .item:nth-child(6) {
  background: url(../images/3836/banner/3.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 337px;
  left: 87px;
  width: 210px;
  height: 250px;
  z-index: 3;
}
/* line 101, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003101}}
.banner > .item:nth-child(7) {
  background: url(../images/3836/banner/4.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 298px;
  left: 159px;
  width: 196px;
  height: 146px;
  z-index: 1;
}
/* line 112, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003112}}
.banner > .item:nth-child(8) {
  background: url(../images/3836/banner/5.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 316px;
  left: 287px;
  width: 188px;
  height: 229px;
  z-index: 2;
}
/* line 123, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003123}}
.banner > .item:nth-child(9) {
  background: url(../images/3836/banner/6.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 419px;
  left: 226px;
  width: 192px;
  height: 239px;
  z-index: 4;
}
/* line 134, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003134}}
.banner > .item:nth-child(10) {
  background: url(../images/3836/banner/7.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 383px;
  left: 394px;
  width: 256px;
  height: 203px;
  z-index: 3;
}
/* line 145, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003145}}
.banner > .item:nth-child(11) {
  background: url(../images/3836/banner/8.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 427px;
  left: 478px;
  width: 281px;
  height: 230px;
  z-index: 3;
}
/* line 156, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003156}}
.banner > .item:nth-child(12) {
  background: url(../images/3836/banner/9.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 286px;
  right: 169px;
  width: 212px;
  height: 240px;
  z-index: 1;
}
/* line 167, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003167}}
.banner > .item:nth-child(13) {
  background: url(../images/3836/banner/10.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 378px;
  right: 76px;
  width: 182px;
  height: 226px;
  z-index: 1;
}
/* line 178, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003178}}
.banner > .item:nth-child(14) {
  background: url(../images/3836/banner/11.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 270px;
  right: 17px;
  width: 211px;
  height: 257px;
  z-index: 3;
}
/* line 189, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003189}}
.banner > .item:nth-child(15) {
  background: url(../images/3836/banner/12.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 377px;
  right: -84px;
  width: 256px;
  height: 204px;
  z-index: 3;
}
/* line 200, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003200}}
.banner > .item:nth-child(16) {
  background: url(../images/3836/banner/13.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 178px;
  right: -94px;
  width: 243px;
  height: 206px;
  z-index: 1;
}
/* line 213, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003213}}
.video {
  width: 575px;
  margin: 40px auto 0 auto;
}
/* line 217, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003217}}
.video p {
  margin-top: 20px;
}
/* line 222, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003222}}
.hpexplica {
  width: 100%;
  float: left;
  margin-top: 70px;
  margin-bottom: 78px;
}
/* line 229, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003229}}
.hpexplica p + p {
  position: relative;
}
/* line 231, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003231}}
.hpexplica p + p:before {
  content: '';
  position: absolute;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -42px 0;
  width: 35px;
  height: 42px;
  top: 11px;
  left: 277px;
}
/* line 242, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003242}}
.hpexplica p + p:after {
  content: '';
  position: absolute;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -87px 0;
  width: 35px;
  height: 42px;
  top: 11px;
  right: 277px;
}
/* line 252, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003252}}
.hpexplica p + p span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 10px;
  font-size: 34px;
  display: inline-block;
}
/* line 261, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003261}}
.hpexplica .container {
  width: 642px;
  margin: 38px auto 0 auto;
  float: none;
}
/* line 265, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003265}}
.hpexplica .container .option {
  width: 236px;
  float: left;
}
/* line 269, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003269}}
.hpexplica .container .option a {
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: 0 -91px;
  display: block;
  width: 100%;
  height: 160px;
  margin-top: 15px;
}
/* line 278, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003278}}
.hpexplica .container .option + .option {
  float: right;
}
/* line 281, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003281}}
.hpexplica .container .option + .option a {
  background-position: 0 -250px;
}
/* line 289, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003289}}
.e-print {
  padding-left: 110px;
  padding-right: 110px;
}
/* line 293, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003293}}
.e-print .img-eprint {
  width: 212px;
  height: 268px;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -239px -91px;
  margin-right: 77px;
  float: left;
}
/* line 302, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003302}}
.e-print .ico-eprint {
  width: 95px;
  height: 93px;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -122px 1px;
  margin-right: 55px;
  margin-top: 70px;
  float: left;
}
/* line 312, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003312}}
.e-print .text-eprint {
  width: 301px;
  float: left;
  margin-top: 28px;
}
/* line 317, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003317}}
.e-print .text-eprint p {
  margin-top: 20px;
}
/* line 322, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003322}}
.e-print h4 {
  width: 100%;
  margin-top: 90px;
  float: left;
}
/* line 329, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003329}}
.icons-eprint {
  width: 768px;
  margin: 92px auto 0  auto;
}
/* line 333, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003333}}
.icons-eprint .icons {
  width: 100%;
  float: left;
  margin-top: 48px;
}
/* line 338, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003338}}
.icons-eprint .icons [class*="ico"] {
  float: left;
  position: relative;
  cursor: pointer;
}
/* line 343, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003343}}
.icons-eprint .icons [class*="ico"]:before {
  height: 58px;
  content: '';
  background: url(../images/3836/sprite.png) no-repeat;
  display: block;
  margin: 0 auto;
}
/* line 351, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003351}}
.icons-eprint .icons [class*="ico"]:after {
  width: 28px;
  height: 28px;
  content: '';
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: 0 -42px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -14px;
}
/* line 366, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003366}}
.icons-eprint .icons [class*="ico"]:hover p .hover {
  display: block!important;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 374, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003374}}
.icons-eprint .icons [class*="ico"] p {
  margin-top: 20px;
  position: relative;
}
/* line 378, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003378}}
.icons-eprint .icons [class*="ico"] p .hover {
  width: 238px;
  position: absolute;
  top: 100%;
  left: 50%;
  content: attr(data-title);
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-bottom: 12px solid #0196d6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -119px;
  box-sizing: border-box;
  margin-top: 25px;
  display: none;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: white;
}
/* line 401, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003401}}
.icons-eprint .icons [class*="ico"] p .hover:before {
  content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid #d4d4d4;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -13px;
}
/* line 416, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003416}}
.icons-eprint .icons [class*="ico"] p .hover:after {
  content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -13px;
}
/* line 434, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003434}}
.icons-eprint .icons .icn-text {
  position: relative;
  padding-right: 105px;
  float: left;
}
/* line 439, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003439}}
.icons-eprint .icons .icn-text:after {
  content: '';
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -31px -42px;
  display: block;
  width: 26px;
  height: 28px;
  position: absolute;
  top: 18px;
  right: 0;
}
/* line 452, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003452}}
.icons-eprint .icons .icn-text p:first-child {
  font-size: 21px;
}
/* line 456, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003456}}
.icons-eprint .icons .icn-text p:last-child {
  font-size: 57px;
}
/* line 462, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003462}}
.icons-eprint .icons .ico-print {
  width: 149px;
  padding-right: 66px;
  margin-left: 80px;
}
/* line 467, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003467}}
.icons-eprint .icons .ico-print:before {
  width: 58px;
  background-position: -218px 0px;
}
/* line 473, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003473}}
.icons-eprint .icons .ico-scanning {
  width: 141px;
  padding-right: 69px;
  margin-left: 65px;
}
/* line 478, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003478}}
.icons-eprint .icons .ico-scanning:before {
  width: 73px;
  background-position: -276px 0px;
}
/* line 484, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003484}}
.icons-eprint .icons .ico-copy {
  width: 54px;
  margin-left: 64px;
}
/* line 488, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003488}}
.icons-eprint .icons .ico-copy:before {
  width: 54px;
  background-position: -349px 0px;
}
/* line 493, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003493}}
.icons-eprint .icons .ico-copy:after {
  display: none;
}
/* line 500, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003500}}
.desconto-50 {
  margin-top: 85px;
  padding-top: 48px;
  background: #f5f5f5;
}
/* line 506, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003506}}
.desconto-50 > p.size-16 {
  display: table;
  margin: 44px auto 0 auto;
}
/* line 511, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003511}}
.desconto-50 .text-desconto-50 {
  position: relative;
  z-index: 1;
}
/* line 514, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003514}}
.desconto-50 .text-desconto-50 p {
  position: absolute;
  top: 36px;
  left: 104px;
  float: left;
}
/* line 521, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003521}}
.desconto-50 .text-desconto-50 span {
  display: block;
}
/* line 523, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003523}}
.desconto-50 .text-desconto-50 span:nth-child(1) {
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: -10px;
}
/* line 529, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003529}}
.desconto-50 .text-desconto-50 span:nth-child(2) {
  font-size: 113px;
  float: left;
}
/* line 534, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003534}}
.desconto-50 .text-desconto-50 span:nth-child(3) {
  font-size: 42px;
  float: left;
  padding-top: 33px;
  padding-left: 22px;
}
/* line 543, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003543}}
.desconto-50 .banner-desconto-50 {
  margin-top: 50px;
  padding-bottom: 34px;
  height: 388px;
  position: relative;
}
/* line 550, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003550}}
.desconto-50 .banner-desconto-50 img {
  z-index: 9999999999;
  opacity: 0.8;
  position: relative;
  display: none;
}
/* line 558, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003558}}
.desconto-50 .banner-desconto-50 > .item:nth-child(2) {
  width: 133px;
  height: 147px;
  background: url(../images/3836/banner-50/c3.png) no-repeat;
  position: absolute;
  top: 260px;
  left: 73px;
  z-index: 6;
}
/* line 568, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003568}}
.desconto-50 .banner-desconto-50 > .item:nth-child(3) {
  width: 133px;
  height: 147px;
  background: url(../images/3836/banner-50/c1.png) no-repeat;
  position: absolute;
  top: 265px;
  left: 88px;
  z-index: 7;
}
/* line 578, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003578}}
.desconto-50 .banner-desconto-50 > .item:nth-child(4) {
  width: 128px;
  height: 185px;
  background: url(../images/3836/banner-50/c4.png) no-repeat;
  position: absolute;
  top: 201px;
  left: 173px;
  z-index: 5;
}
/* line 588, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003588}}
.desconto-50 .banner-desconto-50 > .item:nth-child(5) {
  width: 142px;
  height: 132px;
  background: url(../images/3836/banner-50/c2.png) no-repeat;
  position: absolute;
  top: 280px;
  left: 284px;
  z-index: 5;
}
/* line 598, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003598}}
.desconto-50 .banner-desconto-50 > .item:nth-child(6) {
  width: 142px;
  height: 132px;
  background: url(../images/3836/banner-50/c5.png) no-repeat;
  position: absolute;
  top: 271px;
  left: 364px;
  z-index: 4;
}
/* line 608, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003608}}
.desconto-50 .banner-desconto-50 > .item:nth-child(7) {
  width: 452px;
  height: 260px;
  background: url(../images/3836/banner-50/p1.png) no-repeat;
  position: absolute;
  top: 110px;
  left: 271px;
  z-index: 3;
}
/* line 618, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003618}}
.desconto-50 .banner-desconto-50 > .item:nth-child(8) {
  width: 253px;
  height: 361px;
  background: url(../images/3836/banner-50/p2.png) no-repeat;
  position: absolute;
  top: -2px;
  right: 37px;
  z-index: 2;
}
/* line 628, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003628}}
.desconto-50 .banner-desconto-50 > .item:nth-child(9) {
  width: 49px;
  height: 72px;
  background: url(../images/3836/banner-50/p3.png) no-repeat;
  position: absolute;
  top: 314px;
  right: 103px;
  z-index: 3;
}
/* line 638, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003638}}
.desconto-50 .banner-desconto-50 > .item:nth-child(10) {
  width: 50px;
  height: 73px;
  background: url(../images/3836/banner-50/p4.png) no-repeat;
  position: absolute;
  top: 321px;
  right: 66px;
  z-index: 4;
}
/* line 649, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003649}}
.desconto-50 .banner-desconto-50 img {
  margin-bottom: -40px;
}
/* line 655, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003655}}
.tudo-isso {
  width: 905px;
  margin: 107px auto 0 auto;
}
/* line 659, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003659}}
.tudo-isso .icons {
  width: 100%;
  margin: 56px auto 103px auto;
  float: left;
}
/* line 664, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003664}}
.tudo-isso .icons [class*="ico"] {
  float: left;
  position: relative;
}
/* line 668, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003668}}
.tudo-isso .icons [class*="ico"]:before {
  content: '';
  background: url(../images/3836/sprite.png) no-repeat;
  display: block;
  height: 75px;
  margin: 0 auto;
}
/* line 678, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003678}}
.tudo-isso .icons [class*="ico"]:hover p .hover {
  display: block!important;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 686, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003686}}
.tudo-isso .icons [class*="ico"] p {
  margin-top: 30px;
  position: relative;
}
/* line 690, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003690}}
.tudo-isso .icons [class*="ico"] p .hover {
  width: 238px;
  position: absolute;
  top: 100%;
  left: 50%;
  content: attr(data-title);
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-bottom: 12px solid #0196d6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -119px;
  box-sizing: border-box;
  margin-top: 25px;
  display: none;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: white;
}
/* line 713, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003713}}
.tudo-isso .icons [class*="ico"] p .hover:before {
  content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid #d4d4d4;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -13px;
}
/* line 728, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003728}}
.tudo-isso .icons [class*="ico"] p .hover:after {
  content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -13px;
}
/* line 746, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003746}}
.tudo-isso .icons .ico-impressao {
  margin-right: 54px;
}
/* line 748, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003748}}
.tudo-isso .icons .ico-impressao:before {
  width: 73px;
  background-position: -403px 0;
}
/* line 753, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003753}}
.tudo-isso .icons .ico-impressao .hover {
  margin-left: -70px !important;
}
/* line 756, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003756}}
.tudo-isso .icons .ico-impressao .hover:before {
  margin-left: -60px !important;
}
/* line 760, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003760}}
.tudo-isso .icons .ico-impressao .hover:after {
  margin-left: -60px !important;
}
/* line 766, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003766}}
.tudo-isso .icons .ico-multifuncionais {
  margin-right: 82px;
}
/* line 768, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003768}}
.tudo-isso .icons .ico-multifuncionais:before {
  width: 73px;
  background-position: -476px 0;
}
/* line 774, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003774}}
.tudo-isso .icons .ico-movel {
  margin-right: 63px;
}
/* line 776, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003776}}
.tudo-isso .icons .ico-movel:before {
  width: 69px;
  background-position: -550px 0;
}
/* line 782, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003782}}
.tudo-isso .icons .ico-colorida {
  margin-right: 60px;
}
/* line 784, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003784}}
.tudo-isso .icons .ico-colorida:before {
  width: 78px;
  background-position: -620px 0;
}
/* line 790, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003790}}
.tudo-isso .icons .ico-compacto {
  margin-right: 68px;
}
/* line 792, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003792}}
.tudo-isso .icons .ico-compacto:before {
  width: 76px;
  background-position: -701px 0;
}
/* line 799, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003799}}
.tudo-isso .icons .ico-fotos:before {
  width: 76px;
  background-position: -776px 0;
}
/* line 804, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003804}}
.tudo-isso .icons .ico-fotos .hover {
  margin-left: -170px !important;
}
/* line 807, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003807}}
.tudo-isso .icons .ico-fotos .hover:before {
  margin-left: 33px!important;
}
/* line 811, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003811}}
.tudo-isso .icons .ico-fotos .hover:after {
  margin-left: 33px!important;
}
/* line 819, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003819}}
.footer {
  padding-top: 74px;
  padding-bottom: 190px;
  background: #f6f6f6;
}
/* line 824, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003824}}
.footer p {
  padding: 0 130px 0 140px;
  line-height: 16px;
}
/* line 829, app/styles/_less/style3836.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style3836\.less}line{font-family:\00003829}}
.footer .logo-footer {
  width: 210px;
  height: 54px;
  margin: 56px auto 0 auto;
  background: url(../images/3836/sprite.png) no-repeat;
  background-position: -853px 0px;
}
