@font-face {
  font-family: 'HPSimplifiedRegular';
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot');
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HPSimplifiedLight';
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-eot.eot');
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HPSimplified';
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot');
  src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* line 28, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000328}}
html,
body,
* {
  font-family: "HPSimplified", Arial;
  box-sizing: border-box;
}
/* line 34, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000334}}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #353c3c;
}
/* line 38, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000338}}
#content {
  width: 960px;
  margin: 0 auto;
  display: block;
}
/* line 44, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000344}}
.container {
  width: 100%;
  float: left;
  background: #FFF;
}
/* line 50, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000350}}
.dftext {
  color: #353c3c;
}
/* line 54, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000354}}
.white {
  color: white;
}
/* line 58, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000358}}
.hpcolor {
  color: #0096d6;
}
/* line 62, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000362}}
.hpcolorl {
  color: #01b3e3;
}
/* line 66, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000366}}
.bg-hpcolor {
  background: #0096d6;
}
/* line 70, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000370}}
.bg-hpcolorl {
  background: #01b3e3;
}
/* line 74, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000374}}
.bg-l-gray {
  background: #f2f2f2;
}
/* line 78, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000378}}
.size-10 {
  font-size: 10px;
}
/* line 82, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000382}}
.size-11 {
  font-size: 11px;
}
/* line 86, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000386}}
.size-12 {
  font-size: 11px;
}
/* line 90, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000390}}
.size-14 {
  font-size: 14px;
}
/* line 94, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000394}}
.size-16 {
  font-size: 16px;
}
/* line 98, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\0000398}}
.size-20 {
  font-size: 20px;
}
/* line 102, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003102}}
.size-22 {
  font-size: 22px;
}
/* line 106, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003106}}
.size-24 {
  font-size: 24px;
}
/* line 110, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003110}}
.size-30 {
  font-size: 30px;
}
/* line 114, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003114}}
.size-32 {
  font-size: 32px;
}
/* line 118, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003118}}
.size-34 {
  font-size: 34px;
}
/* line 122, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003122}}
.size-36 {
  font-size: 36px;
}
/* line 126, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003126}}
.size-44 {
  font-size: 44px;
}
/* line 130, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003130}}
.size-50 {
  font-size: 50px;
}
/* line 134, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003134}}
.size-52 {
  font-size: 52px;
}
/* line 138, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003138}}
.size-60 {
  font-size: 60px;
}
/* line 142, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003142}}
.text-center {
  text-align: center;
}
/* line 146, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003146}}
.light {
  font-family: "HPSimplifiedLight";
}
/* line 150, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003150}}
.regular {
  font-family: "HPSimplifiedRegular";
}
/* line 154, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003154}}
.default {
  font-family: "HPSimplified";
}
/* line 158, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003158}}
.ft-wgt-l {
  font-weight: 100;
}
/* line 162, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003162}}
.ft-wgt-m {
  font-weight: 400;
}
/* line 166, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003166}}
.ft-wgt-b {
  font-weight: 700;
}
/* line 170, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003170}}
.img-responsive {
  max-width: 100%;
  display: block;
}
/* line 176, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003176}}
.pull-right {
  float: right;
}
/* line 180, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003180}}
.pull-left {
  float: left;
}
/* line 184, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003184}}
body {
  background: #ececec;
}
/* line 190, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003190}}
body.index h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
}
/* line 196, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003196}}
body.index ul {
  width: 900px;
  margin: 0 auto 60px auto;
}
/* line 199, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003199}}
body.index ul li {
  margin-bottom: 15px;
}
/* line 202, app/styles/_less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/app\/styles\/_less\/style\.less}line{font-family:\00003202}}
body.index ul li.title {
  font-size: 22px;
  margin-bottom: 20px;
}
