@import 'vars.less';

//fonts
@font-face {
    font-family: 'HPSimplifiedRegular';
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot');
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'HPSimplifiedLight';
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-eot.eot');
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-light-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'HPSimplified';
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot');
    src: url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-eot.eot?#iefix') format('embedded-opentype'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-woff.woff') format('-woff.woff'), url('http://www.www8-hp.com/br/pt/images/fonts/hpi/hps/latin-e-regular-ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

html, body, * {
    font-family: "HPSimplified", Arial;
    box-sizing: border-box;
}

//df
h1, h2, h3, h4, h5, h6, p {
    color: @dftext;
}

#content {
    width: 960px;
    margin: 0 auto;
    display: block;
}

.container {
    width: 100%;
    float: left;
    background: #FFF;
}

.dftext {
    color: @dftext;
}

.white {
    color: white;
}

.hpcolor {
    color: @hpcolor;
}

.hpcolorl {
    color: @hpcolorl;
}

.bg-hpcolor {
    background: @hpcolor;
}

.bg-hpcolorl {
    background: @hpcolorl;
}

.bg-l-gray {
    background: @l-gray;
}

.size-10 {
    font-size: 10px;
}

.size-11 {
    font-size: 11px;
}

.size-12 {
    font-size: 11px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-24 {
    font-size: 24px;
}

.size-30 {
    font-size: 30px;
}

.size-32 {
    font-size: 32px;
}

.size-34 {
    font-size: 34px;
}

.size-36 {
    font-size: 36px;
}

.size-44 {
    font-size: 44px;
}

.size-50 {
    font-size: 50px;
}

.size-52 {
    font-size: 52px;
}

.size-60 {
    font-size: 60px;
}

.text-center {
    text-align: center;
}

.light {
    font-family: @light;
}

.regular {
    font-family: @regular;
}

.default {
    font-family: @default;
}

.ft-wgt-l {
    font-weight: 100;
}

.ft-wgt-m {
    font-weight: 400;
}

.ft-wgt-b {
    font-weight: 700;
}

.img-responsive {
    //width: 100%;
    max-width: 100%;
    display: block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

body {
    background: #ececec;
}

//index
body.index {
    h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
    }

    ul {
        width: 900px;
        margin: 0 auto 60px auto;
        li {
            margin-bottom: 15px;

            &.title {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }
}
