@import 'vars.less';

.product {
    margin-top: 45px;
    position: relative;

    .logo {
		width: 42px;
		height: 43px;
		position: absolute;
		top: -30px;
		right: 30px;
		background: url(../images/3836/sprite.png) no-repeat;
		background-position: 0 0;
    }
}

.banner {
	margin-top: 90px;
	margin-bottom: 50px;
	position: relative;
	width: 100%;
	height: 657px;
	overflow: hidden;

	img {
		z-index: 99999999999999999999999999;
		opacity: 0.6;
		position: relative;
		display: none;
	}

	> .item {
		&:nth-child(1) {
			background: url(../images/3836/banner/p1.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 13px;
			left: 179px;
			width: 103px;
			height: 146px;
			z-index: 9;
		}

		&:nth-child(2) {
			background: url(../images/3836/banner/p2.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 8px;
			left: 245px;
			width: 470px;
			height: 279px;
			z-index: 99;
		}

		&:nth-child(3) {
			background: url(../images/3836/banner/p3.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 0;
			left: 610px;
			width: 248px;
			height: 164px;
			z-index: 9;
		}

		//itens
		&:nth-child(4) {
			background: url(../images/3836/banner/1.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 195px;
			left: -86px;
			width: 265px;
			height: 215px;
			z-index: 1;
		}

		&:nth-child(5) {
			background: url(../images/3836/banner/2.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 355px;
			left: -12px;
			width: 215px;
			height: 174px;
			z-index: 2;
		}

		&:nth-child(6) {
			background: url(../images/3836/banner/3.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 337px;
			left: 87px;
			width: 210px;
			height: 250px;
			z-index: 3;
		}

		&:nth-child(7) {
			background: url(../images/3836/banner/4.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 298px;
			left: 159px;
			width: 196px;
			height: 146px;
			z-index: 1;
		}

		&:nth-child(8) {
			background: url(../images/3836/banner/5.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 316px;
			left: 287px;
			width: 188px;
			height: 229px;
			z-index: 2;
		}

		&:nth-child(9) {
			background: url(../images/3836/banner/6.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 419px;
			left: 226px;
			width: 192px;
			height: 239px;
			z-index: 4;
		}

		&:nth-child(10) {
			background: url(../images/3836/banner/7.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 383px;
			left: 394px;
			width: 256px;
			height: 203px;
			z-index: 3;
		}

		&:nth-child(11) {
			background: url(../images/3836/banner/8.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 427px;
			left: 478px;
			width: 281px;
			height: 230px;
			z-index: 3;
		}

		&:nth-child(12) {
			background: url(../images/3836/banner/9.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 286px;
			right: 169px;
			width: 212px;
			height: 240px;
			z-index: 1;
		}

		&:nth-child(13) {
			background: url(../images/3836/banner/10.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 378px;
			right: 76px;
			width: 182px;
			height: 226px;
			z-index: 1;
		}

		&:nth-child(14) {
			background: url(../images/3836/banner/11.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 270px;
			right: 17px;
			width: 211px;
			height: 257px;
			z-index: 3;
		}

		&:nth-child(15) {
			background: url(../images/3836/banner/12.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 377px;
			right: -84px;
			width: 256px;
			height: 204px;
			z-index: 3;
		}

		&:nth-child(16) {
			background: url(../images/3836/banner/13.png) no-repeat;
			background-position: 0 0;
			position: absolute;
			top: 178px;
			right: -94px;
			width: 243px;
			height: 206px;
			z-index: 1;
		}
	}
}

.video {
	width: 575px;
	margin: 40px auto 0 auto;

	p {
		margin-top: 20px;
	}
}

.hpexplica {
    width: 100%;
	float: left;
	margin-top: 70px;
	margin-bottom: 78px;

	p {
		&+p {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				background: url(../images/3836/sprite.png) no-repeat;
				background-position: -42px 0;
				width: 35px;
				height: 42px;
				top: 11px;
				left: 277px;
			}

			&:after {
				content: '';
				position: absolute;
				background: url(../images/3836/sprite.png) no-repeat;
				background-position: -87px 0;
				width: 35px;
				height: 42px;
				top: 11px;
				right: 277px;
			}
			span {
				.border-radius();
				padding: 1px 10px;
				font-size: 34px;
				display: inline-block;
			}
		}
	}

	.container {
		width: 642px;
		margin: 38px auto 0 auto;
		float: none;
		.option {
			width: 236px;
			float: left;

			a {
				background: url(../images/3836/sprite.png) no-repeat;
				background-position: 0 -91px;
				display: block;
				width: 100%;
				height: 160px;
				margin-top: 15px;
			}

			&+.option {
				float: right;

				a {
					background-position: 0 -250px;
				}
			}
		}
	}
}

.e-print {
	padding-left: 110px;
	padding-right: 110px;

	.img-eprint {
		width: 212px;
		height: 268px;
		background: url(../images/3836/sprite.png) no-repeat;
		background-position: -239px -91px;
		margin-right: 77px;
		float: left;
	}

	.ico-eprint {
		width: 95px;
		height: 93px;
		background: url(../images/3836/sprite.png) no-repeat;
		background-position: -122px 1px;
		margin-right: 55px;
		margin-top: 70px;
		float: left;
	}

	.text-eprint {
		width: 301px;
		float: left;
		margin-top: 28px;

		p {
			margin-top: 20px;
		}
	}

	h4 {
		width: 100%;
		margin-top: 90px;
		float: left;
	}
}

.icons-eprint {
	width: 768px;
	margin: 92px auto 0  auto;

	.icons {
		width: 100%;
		float: left;
		margin-top: 48px;

		[class*="ico"] {
			float: left;
			position: relative;
			cursor: pointer;

			&:before {
				height: 58px;
				content: '';
				background: url(../images/3836/sprite.png) no-repeat;
				display: block;
				margin: 0 auto;
			}

			&:after {
				width: 28px;
				height: 28px;
				content: '';
				background: url(../images/3836/sprite.png) no-repeat;
				background-position: 0 -42px;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -14px;
			}

			&:hover {
				p {
					.hover {
						display: block!important;
						-webkit-animation-name: fadeIn;
						animation-name: fadeIn;
					}
				}
			}

			p {
				margin-top: 20px;
				position: relative;

				.hover {
					width: 238px;
					position: absolute;
					top: 100%;
					left: 50%;
					content: attr(data-title);
					font-size: 14px;
					border: 1px solid #d4d4d4;
					border-bottom: 12px solid #0196d6;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 20px;
					padding-left: 20px;
					margin-left: -119px;
					box-sizing: border-box;
					margin-top: 25px;
					display: none;
					-webkit-animation-duration: .5s;
					animation-duration: .5s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					background: white;

					&:before {
						content: "";
						vertical-align: middle;
						margin-right: 10px;
						width: 0;
						height: 0;
						border-left: 13px solid transparent;
						border-right: 13px solid transparent;
						border-bottom: 12px solid #d4d4d4;
						position: absolute;
						top: -12px;
						left: 50%;
						margin-left: -13px;
					}

					&:after {
						content: "";
						vertical-align: middle;
						margin-right: 10px;
						width: 0;
						height: 0;
						border-left: 13px solid transparent;
						border-right: 13px solid transparent;
						border-bottom: 12px solid white;
						position: absolute;
						top: -10px;
						left: 50%;
						margin-left: -13px;
					}
				}
			}
		}

		.icn-text {
			position: relative;
			padding-right: 105px;
			float: left;

			&:after {
				content: '';
				background: url(../images/3836/sprite.png) no-repeat;
				background-position: -31px -42px;
				display: block;
				width: 26px;
				height: 28px;
				position: absolute;
				top: 18px;
				right: 0;
			}

			p {
				&:first-child {
					font-size: 21px;
				}

				&:last-child {
					font-size: 57px;
				}
			}
		}

		.ico-print {
			width: 149px;
			padding-right: 66px;
			margin-left: 80px;

			&:before {
				width: 58px;
				background-position: -218px 0px;
			}
		}

		.ico-scanning {
			width: 141px;
			padding-right: 69px;
			margin-left: 65px;

			&:before {
				width: 73px;
				background-position: -276px 0px;
			}
		}

		.ico-copy {
			width: 54px;
			margin-left: 64px;

			&:before {
				width: 54px;
				background-position: -349px 0px;
			}

			&:after {
				display: none;
			}
		}
	}
}

.desconto-50 {
	margin-top: 85px;
	padding-top: 48px;
	background: #f5f5f5;

	> p {
		&.size-16 {
			display: table;
			margin: 44px auto 0 auto;
		}
	}
	.text-desconto-50 {
		position: relative;
		z-index: 1;
		p {
			position: absolute;
			top: 36px;
			left: 104px;
			float: left;
		}

		span {
			display: block;
			&:nth-child(1) {
				font-size: 20px;
				padding-left: 20px;
				margin-bottom: -10px;
			}

			&:nth-child(2) {
				font-size: 113px;
				float: left;
			}

			&:nth-child(3) {
				font-size: 42px;
				float: left;
				padding-top: 33px;
				padding-left: 22px;
			}
		}
	}

	.banner-desconto-50 {
		margin-top: 50px;
		padding-bottom: 34px;
    	//background: white;
    	height: 388px;
    	position: relative;

    	img {
    		z-index: 9999999999;
    		opacity: 0.8;
    		position: relative;
    		display: none;
    	}

    	> .item {
    		&:nth-child(2) {
				width: 133px;
				height: 147px;
				background: url(../images/3836/banner-50/c3.png) no-repeat;
				position: absolute;
				top: 260px;
				left: 73px;
				z-index: 6;
    		}

    		&:nth-child(3) {
				width: 133px;
				height: 147px;
				background: url(../images/3836/banner-50/c1.png) no-repeat;
				position: absolute;
				top: 265px;
				left: 88px;
				z-index: 7;
    		}

    		&:nth-child(4) {
				width: 128px;
				height: 185px;
				background: url(../images/3836/banner-50/c4.png) no-repeat;
				position: absolute;
				top: 201px;
				left: 173px;
				z-index: 5;
    		}

    		&:nth-child(5) {
				width: 142px;
				height: 132px;
				background: url(../images/3836/banner-50/c2.png) no-repeat;
				position: absolute;
				top: 280px;
				left: 284px;
				z-index: 5;
    		}

    		&:nth-child(6) {
				width: 142px;
				height: 132px;
				background: url(../images/3836/banner-50/c5.png) no-repeat;
				position: absolute;
				top: 271px;
				left: 364px;
				z-index: 4;
    		}

    		&:nth-child(7) {
				width: 452px;
				height: 260px;
				background: url(../images/3836/banner-50/p1.png) no-repeat;
				position: absolute;
				top: 110px;
				left: 271px;
				z-index: 3;
    		}

    		&:nth-child(8) {
				width: 253px;
				height: 361px;
				background: url(../images/3836/banner-50/p2.png) no-repeat;
				position: absolute;
				top: -2px;
				right: 37px;
				z-index: 2;
    		}

    		&:nth-child(9) {
				width: 49px;
				height: 72px;
				background: url(../images/3836/banner-50/p3.png) no-repeat;
				position: absolute;
				top: 314px;
				right: 103px;
				z-index: 3;
    		}

    		&:nth-child(10) {
				width: 50px;
				height: 73px;
				background: url(../images/3836/banner-50/p4.png) no-repeat;
				position: absolute;
				top: 321px;
				right: 66px;
				z-index: 4;
    		}
    	}

		img {
			margin-bottom: -40px;
		}
	}
}

.tudo-isso {
	width: 905px;
	margin: 107px auto 0 auto;

	.icons {
		width: 100%;
		margin: 56px auto 103px auto;
		float: left;

		[class*="ico"] {
			float: left;
			position: relative;

			&:before {
				content: '';
				background: url(../images/3836/sprite.png) no-repeat;
				display: block;
				height: 75px;
				margin: 0 auto;
			}

			&:hover {
				p {
					.hover {
						display: block!important;
						-webkit-animation-name: fadeIn;
						animation-name: fadeIn;
					}
				}
			}

			p {
				margin-top: 30px;
				position: relative;

				.hover {
					width: 238px;
					position: absolute;
					top: 100%;
					left: 50%;
					content: attr(data-title);
					font-size: 14px;
					border: 1px solid #d4d4d4;
					border-bottom: 12px solid #0196d6;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 20px;
					padding-left: 20px;
					margin-left: -119px;
					box-sizing: border-box;
					margin-top: 25px;
					display: none;
					-webkit-animation-duration: .5s;
					animation-duration: .5s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					background: white;

					&:before {
						content: "";
						vertical-align: middle;
						margin-right: 10px;
						width: 0;
						height: 0;
						border-left: 13px solid transparent;
						border-right: 13px solid transparent;
						border-bottom: 12px solid #d4d4d4;
						position: absolute;
						top: -12px;
						left: 50%;
						margin-left: -13px;
					}

					&:after {
						content: "";
						vertical-align: middle;
						margin-right: 10px;
						width: 0;
						height: 0;
						border-left: 13px solid transparent;
						border-right: 13px solid transparent;
						border-bottom: 12px solid white;
						position: absolute;
						top: -10px;
						left: 50%;
						margin-left: -13px;
					}
				}
			}
		}

		.ico-impressao {
			margin-right: 54px;
			&:before {
				width: 73px;
				background-position: -403px 0;
			}

			.hover {
				margin-left: -70px!important;

				&:before {
					margin-left: -60px!important;
				}

				&:after {
					margin-left: -60px!important;
				}
			}
		}

		.ico-multifuncionais {
			margin-right: 82px;
			&:before {
				width: 73px;
				background-position: -476px 0;
			}
		}

		.ico-movel {
			margin-right: 63px;
			&:before {
				width: 69px;
				background-position: -550px 0;
			}
		}

		.ico-colorida {
			margin-right: 60px;
			&:before {
				width: 78px;
				background-position: -620px 0;
			}
		}

		.ico-compacto {
			margin-right: 68px;
			&:before {
				width: 76px;
				background-position: -701px 0;
			}
		}

		.ico-fotos {
			&:before {
				width: 76px;
				background-position: -776px 0;
			}

			.hover {
				margin-left: -170px!important;

				&:before {
					margin-left: 33px!important;
				}

				&:after {
					margin-left: 33px!important;
				}
			}
		}
	}
}

.footer {
	padding-top: 74px;
	padding-bottom: 190px;
	background: #f6f6f6;

    p {
        padding: 0 130px 0 140px;
        line-height: 16px;
    }

	.logo-footer {
		width: 210px;
		height: 54px;
		margin: 56px auto 0 auto;
		background: url(../images/3836/sprite.png) no-repeat;
		background-position: -853px 0px;
	}
}
