@import 'vars.less';

.banner {
	position: relative;
	padding-top: 49px;
	padding-left: 52px;
	background: url(../images/generico2/banner.png) no-repeat top center;
	height: 460px;

	h1 {
		letter-spacing: -0.3px;
		line-height: 54px;
	}

	.logo {
		width: 42px;
		height: 43px;
		position: absolute;
		top: 30px;
		right: 24px;
		background: url(../images/generico2/sprite.png) no-repeat;
		background-position: -884px -571px;
	}
}

.cartuchos {
	width: 600px;
	height: 217px;
	margin: -72px auto 43px auto;
	position: relative;

	.item {
		background: url(../images/generico2/sprite.png) no-repeat;
		position: absolute;
		top: 0;
		left: 0;

		&:nth-child(1) {
			width: 126px;
		    height: 173px;
		    background-position: 0px 0px;
		    z-index: 1;
		    left: 18px;
		}

		&:nth-child(2) {
			width: 158px;
		    height: 156px;
		    background-position: 0 -173px;
		    left: 118px;
		    top: 43px;
		    z-index: 2;
		}

		&:nth-child(3) {
			width: 152px;
		    height: 158px;
		    background-position: 1px -333px;
		    left: 130px;
		    top: -1px;
		    z-index: 1;
		}

		&:nth-child(4) {
			width: 167px;
		    height: 198px;
		    background-position: 1px -489px;
		    left: 260px;
		    top: 19px;
		    z-index: 2;
		}

		&:nth-child(5) {
			width: 152px;
			height: 158px;
			background-position: 1px -333px;
			left: 294px;
			top: -1px;
			z-index: 1;
		}

		&:nth-child(6) {
			width: 142px;
		    height: 146px;
		    background-position: 1px -686px;
		    top: 23px;
		    left: 375px;
		    z-index: 1;
		}

		&:nth-child(7) {
			width: 127px;
		    height: 146px;
		    background-position: 1px -831px;
		    top: 1px;
		    left: 462px;
		    z-index: 0;
		}
	}
}

.amplie {
	p {
		&:nth-child(1) {
			line-height: 40px;
		}

		&:last-child {
			line-height: 26px;
		}
	}

	.icons {
		position: relative;
		height: 331px;

		.item {
			background: url(../images/generico2/sprite.png) no-repeat;
			position: absolute;
			top: 0;
			left: 0;

			&:nth-child(1) {
				width: 461px;
				height: 296px;
				background-position: -163px 0;
				top: 40px;
				left: 85px;
			}

			&:nth-child(2) {
				width: 313px;
				height: 296px;
				background-position: -177px -290px;
				top: 41px;
				left: 561px;
			}
		}
	}
}

.reinventou {
	margin-top: 69px;

	> p {
		line-height: 42px;
	}

	iframe {
		margin-top: 17px;
		height: 478px;
	}

	.videos {
		padding: 13px 86px 0;
		margin-top: -3px;
		height: 155px;

		.slick-track {
			padding-top: 10px;
		}

		button {
			width: 22px;
			height: 35px;
			position: absolute;
			top: 60px;
			font-size: 0;
			background: none;
			border: none;
			background: url(../images/generico2/sprite.png) no-repeat;
			padding: 0;

			&:first-child {
				left: 38px;
				background-position: -179px -596px;
			}

			&:last-child {
				right: 38px;
				background-position: -203px -596px;
			}
		}

		.item {
			padding: 0 10px;
			cursor: pointer;

			&.active {
				p {
					opacity: 1;
				}

				img {
					border: 4px solid @orange;
					.border-radius();
					margin-top: -5px;
					width: 145px;
					max-width: inherit;
				}
			}

			img {
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}

			p {
				opacity: 0.4;
				margin-top: 11px;
				padding: 0 7px;
			}
		}
	}
}

.cartucho {
	margin-top: 60px;
	padding-left: 94px;
	position: relative;

	> p {
		&.title {
		    line-height: 42px;
		}

		&.description {
			line-height: 25px;
			margin-top: 38px;
			margin-left: 6px;
			margin-bottom: -27px;
		}
	}

	.itens {
		.item {
			width: 128px;
			float: left;

			&:before {
				content: '';
				background: url(../images/generico2/sprite.png) no-repeat;
			}

			&:nth-child(1) {
				margin-right: 71px;
				margin-top: 83px;
				margin-left: 3px;

				&:before {
					width: 128px;
				    height: 127px;
				    margin-bottom: 15px;
				    display: block;
				    background-position: -177px -634px;
				}

				> p {
					&:nth-child(2) {
						margin-top: 18px;
						line-height: 25px;
					}
				}
			}

			&:nth-child(2) {
				margin-top: 69px;

				&:before {
					width: 128px;
				    height: 141px;
				    display: block;
				    background-position: -308px -620px;
				    margin-bottom: 16px;
				}

				> p {
					&:nth-child(2) {
						margin-top: 10px;
					}

					&:nth-child(3) {
						margin-top: 10px;
						line-height: 23px;
					}
				}
			}

			&:nth-child(3) {
				width: 139px;
			    margin-top: 7px;
			    margin-left: 65px;

				&:before {
					width: 138px;
				    height: 202px;
				    display: block;
				    background-position: -178px -759px;
				    margin-bottom: 17px;
				}

				> p {
					&:nth-child(2) {
						margin-top: 17px;
					}

					&:nth-child(3) {
						margin-top: 10px;
						line-height: 23px;
					}
				}
			}
		}
	}

	.paper {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		height: 600px;

		.item {
			background: url(../images/generico2/sprite.png) no-repeat;

			&:nth-child(1) {
				background-position: -625px 0px;
				width: 226px;
				height: 100%;
				position: absolute;
				top: -4px;
				left: 15px;
				z-index: 1;
			}

			&:nth-child(2) {
				background-position: -501px -458px;
				width: 61px;
				height: 76px;
				position: absolute;
				top: 141px;
				right: 43px;
				z-index: 4;
			}

			&:nth-child(3) {
				background-position: -501px -381px;
				width: 61px;
				height: 76px;
				position: absolute;
				top: 75px;
				right: 43px;
				z-index: 3;
			}

			&:nth-child(4) {
				background-position: -501px -300px;
				width: 61px;
				height: 76px;
				position: absolute;
				top: 11px;
				right: 43px;
				z-index: 2;
			}
		}
	}
}

.parceiro {
	padding: 86px 94px 0 94px;

	> p {
		margin-top: 14px;
		line-height: 26px;
	}

	.description {
		width: 100%;
		padding-top: 24px;
		padding-bottom: 52px;
		float: left;

		.ico {
			width: 288px;
			height: 288px;
			background: url(../images/generico2/sprite.png) no-repeat;
			background-position: -437px -604px;
			float: left;
			margin-right: 55px;
		}

		.text-descripition {
			width: 420px;
			float: left;
			padding-top: 7px;

			> p {
				padding-right: 20px;
				line-height: 25px;
				padding-bottom: 62px;
			}

			.itens {
				.item {
					float: left;
					&:nth-child(1) {
						width: 150px;
						padding-left: 12px;

						p {
							&:nth-child(2) {
								margin-top: -10px;
								margin-bottom: 5px;
							}

							&:nth-child(3) {
								line-height: 21px;
							}
						}
					}

					&:nth-child(2) {
						width: 210px;
						margin-left: 53px;
						padding-left: 49px;
						margin-top: 7px;

						p {
							&:nth-child(1) {
								line-height: 20px;
							}

							&:nth-child(2) {
								padding-left: 6px;
								margin-top: -3px;
							}

							&:nth-child(3) {
								margin-top: -1px;
								padding-left: 5px;

								span {
									float: right;
									margin-top: 0;
									margin-right: 7px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.sustentabilidade {
	padding-top: 28px;
	height: 197px;

	.item {
		position: relative;
		padding: 34px 174px;

		.itens {
			float: left;
			background: url(../images/generico2/sprite.png) no-repeat;
			position: relative;

			a {
				top: 0;
				right: 0;
				width: 30px;
				height: 30px;
				background: #eb4464;
				display: block;
				.border-radius(100px);
				position: absolute;
				text-decoration: none;

				&:before {
					width: 100%;
					height: 100%;
					content: '+';
					display: block;
					text-align: center;
					color: #FFF;
					font-size: 30px;
				}

				&:hover {
					div {
						display: block;
						opacity: 1;
					}
				}

				div {
					position: absolute;
					top: -119px;
					left: 2px;
					width: 312px;
					height: 137px;
					background: url(../images/generico2/sprite.png) no-repeat;
					line-height: 20px;
					padding-top: 20px;
					z-index: 9;
					display: none;
					opacity: 0;

					.animate();
				}
			}

			&:nth-child(1) {
				width: 47px;
				height: 88px;
				background-position: -725px -604px;

				a {
					top: -6px;
					right: -20px;
				}

				div {
					background-position: -855px -129px;
					padding-left: 78px;
				}
			}

			&:nth-child(2) {
				width: 70px;
				height: 58px;
				background-position: -771px -604px;
				margin-left: 122px;
				margin-top: 17px;

				a {
					top: -23px;
					right: -18px;
				}

				div {
					background-position: -855px -129px;
					padding-left: 78px;
					padding-top: 27px;
				}
			}

			&:nth-child(3) {
				width: 60px;
				height: 58px;
				background-position: -725px -694px;
				margin-left: 116px;
				margin-top: 18px;

				a {
					top: -24px;
					right: -17px;
				}

				div {
					background-position: -855px 8px;
					padding-right: 54px;
					padding-left: 23px;
					left: inherit;
					right: 2px;
				}
			}

			&:nth-child(4) {
				width: 47px;
				height: 87px;
				background-position: -791px -664px;
				margin-left: 123px;
				margin-top: 2px;

				a {
					top: -8px;
					right: -23px;
				}

				div {
					background-position: -855px 8px;
					padding-right: 34px;
					padding-left: 23px;
					padding-top: 32px;
					left: inherit;
    				right: 2px;
				}
			}
		}
	}
}

.protecao {
	width: 100%;
	float: left;
	padding: 74px 87px 43px;

	.ico {
		width: 284px;
		height: 223px;
		background: url(../images/generico2/sprite.png) no-repeat;
		background-position: -882px -269px;
		margin-left: 11px;
		margin-top: 7px;
	}

	.text {
		h3 {
			line-height: 41px;
		}

		p {
			margin-top: 18px;
			line-height: 26px;

			span {
				top: -6px;
				right: 7px;
				position: relative;
			}
		}
	}
}

.footer {
	padding-top: 51px;
	padding-bottom: 70px;
	background: #f6f6f6;

	p {
		padding: 0 130px 0 140px;
		line-height: 16px;
	}

	.logo-footer {
		width: 210px;
		height: 54px;
		margin: 110px auto 0 auto;
		background: url(../images/generico2/sprite.png) no-repeat;
    	background-position: -884px -510px;
	}
}
