@import 'vars.less';

#content {
	width: 800px;
}

.banner {
	position: relative;
    padding-top: 26px;
    padding-left: 34px;
    background: url(../images/toner/banner.png) no-repeat top center;
    height: 460px;

	h1 {
		letter-spacing: -0.3px;
		line-height: 54px;

		span {
			letter-spacing: -2px;
		}
	}

	.logo {
		width: 42px;
	    height: 43px;
	    position: absolute;
	    top: 19px;
	    right: 20px;
	    background: url(../images/toner/sprite.png) no-repeat;
	    background-position: -884px -600px;
	}
}

.cartuchos {
	width: 100%;
    height: 247px;
    margin: -198px auto 36px auto;
    position: relative;

	.item {
		background: url(../images/toner/sprite.png) no-repeat;
		position: absolute;
		top: 0;
		left: 0;

		&:nth-child(1) {
			width: 252px;
		    height: 164px;
		    background-position: -173px -640px;
		    z-index: 1;
		    left: 385px;
		    top: 0px;
		}

		&:nth-child(2) {
			width: 652px;
		    height: 160px;
		    background-position: -20px -919px;
		    z-index: 1;
		    left: 69px;
		    top: 77px;
		}

		&:nth-child(3) {
			width: 165px;
		    height: 157px;
		    background-position: 1px -339px;
		    left: 231px;
		    top: 69px;
		    z-index: 3;
		}

		&:nth-child(4) {
			width: 137px;
		    height: 192px;
		    background-position: 1px -495px;
		    right: 1px;
		    top: 9px;
		    z-index: 2;
		    left: inherit;
		}
	}
}

.amplie {
	p {
		&:nth-child(1) {
			line-height: 42px;
			margin-bottom: 6px;
		}

		&:last-child {
			line-height: 43px;
		    margin-top: 32px;
			letter-spacing: -0.5px;
		}
	}

	.icons {
		position: relative;
		height: 331px;

		.item {
			background: url(../images/toner/sprite.png) no-repeat;
			position: absolute;
			top: 0;
			left: 0;

			&:nth-child(1) {
				width: 356px;
			    height: 246px;
			    background-position: -185px -9px;
			    top: 38px;
			    left: 40px;
			}

			&:nth-child(2) {
				width: 313px;
			    height: 296px;
			    background-position: -177px -290px;
			    top: 34px;
			    left: 451px;
			}
		}
	}
}

.reinventou {
	margin-top: 26px;

	> p {
		line-height: 42px;
	}

	iframe {
		margin-top: 17px;
		height: 478px;
	}

	.videos {
		padding: 25px 38px 0;
	    margin-top: -3px;
	    height: 155px;

		.item {
			cursor: pointer;
			float: left;
			margin-right: 57px;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				p {
					opacity: 1;
				}

				img {
					border: 4px solid @orange;
					.border-radius();
					margin-top: -4px;
					margin-left: -4px;
					width: 145px;
					max-width: inherit;
				}
			}

			img {
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}

			p {
				opacity: 0.4;
				margin-top: 11px;
				padding: 0 7px;
			}
		}
	}
}

.toner-descricao {
    padding: 65px 18px;

	.itens {
		margin-top: 57px;
		float: left;

		.item {
			float: left;
			padding-left: 92px;
			position: relative;

			p {
				margin-left: 17px;
			    margin-top: -1px;
			    line-height: 26px;
			}

			&:before {
				width: 92px;
				height: 92px;
				content: '';
				display: block;
				background: url(../images/toner/sprite.png) no-repeat;
				position: absolute;
				top: 0;
				left: 0;
			}

			&:nth-child(1) {
				margin-right: 35px;
    			height: 170px;
				&:before {
					background-position: 0px 0px;
				}
			}

			&:nth-child(2) {
				height: 170px;
				&:before {
					background-position: 1px -92px;
				}
			}

			&:nth-child(3) {
				margin-right: 29px;
				&:before {
					background-position: 0px -182px;
				}
			}

			&:nth-child(4) {
				&:before {
					background-position: 0px -274px;
				}
			}
		}
	}

	.img-toner {
		width: 100%;
		height: 170px;
		float: left;
		margin-top: 30px;
		position: relative;

		.item {
			background: url(../images/toner/sprite.png) no-repeat;

			&:nth-child(1) {
				width: 390px;
			    height: 113px;
			    background-position: -21px -1094px;
			    position: absolute;
			    top: 2px;
			    left: 63px;
				z-index: 0;
			}

			&:nth-child(2) {
				width: 417px;
			    height: 140px;
			    background-position: -437px -1092px;
			    position: absolute;
			    top: 30px;
			    right: 48px;
			    z-index: 1;
			}
		}
	}
}

.parceiro {
	padding: 45px 4px 0 17px;

	> p {
		margin-top: 14px;
		line-height: 26px;
	}

	.description {
		width: 100%;
		padding-top: 24px;
		padding-bottom: 52px;
		float: left;

		.ico {
			width: 288px;
			height: 288px;
			background: url(../images/toner/sprite.png) no-repeat;
			background-position: -437px -604px;
			float: left;
			margin-right: 55px;
		}

		.text-descripition {
			width: 420px;
			float: left;
			padding-top: 7px;

			> p {
				padding-right: 20px;
				line-height: 25px;
				padding-bottom: 62px;
			}

			.itens {
				.item {
					float: left;
					&:nth-child(1) {
						width: 150px;
						padding-left: 12px;

						p {
							&:nth-child(2) {
								margin-top: -10px;
								margin-bottom: 5px;
							}

							&:nth-child(3) {
								line-height: 21px;
							}
						}
					}

					&:nth-child(2) {
						width: 210px;
						margin-left: 53px;
						padding-left: 49px;
						margin-top: 7px;

						p {
							&:nth-child(1) {
								line-height: 20px;
							}

							&:nth-child(2) {
								padding-left: 6px;
								margin-top: -3px;
							}

							&:nth-child(3) {
								margin-top: -1px;
								padding-left: 5px;

								span {
									float: right;
									margin-top: 0;
									margin-right: 7px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.sustentabilidade {
	padding-top: 28px;
	height: 197px;

	.item {
		position: relative;
		padding: 34px 94px;

		.itens {
			float: left;
			background: url(../images/toner/sprite.png) no-repeat;
			position: relative;

			a {
				top: 0;
				right: 0;
				width: 30px;
				height: 30px;
				background: #eb4464;
				display: block;
				.border-radius(100px);
				position: absolute;
				text-decoration: none;

				&:before {
					width: 100%;
					height: 100%;
					content: '+';
					display: block;
					text-align: center;
					color: #FFF;
					font-size: 30px;
				}

				&:hover {
					div {
						display: block;
						opacity: 1;
					}
				}

				div {
					position: absolute;
					top: -119px;
					left: 2px;
					width: 312px;
					height: 137px;
					background: url(../images/toner/sprite.png) no-repeat;
					line-height: 20px;
					padding-top: 20px;
					z-index: 9;
					display: none;
					opacity: 0;

					.animate();
				}
			}

			&:nth-child(1) {
				width: 47px;
				height: 88px;
				background-position: -725px -604px;

				a {
					top: -6px;
					right: -20px;
				}

				div {
					background-position: -855px -129px;
					padding-left: 78px;
				}
			}

			&:nth-child(2) {
				width: 70px;
				height: 58px;
				background-position: -771px -604px;
				margin-left: 122px;
				margin-top: 17px;

				a {
					top: -23px;
					right: -18px;
				}

				div {
					background-position: -855px -129px;
					padding-left: 78px;
					padding-top: 27px;
				}
			}

			&:nth-child(3) {
				width: 60px;
				height: 58px;
				background-position: -725px -694px;
				margin-left: 116px;
				margin-top: 18px;

				a {
					top: -24px;
					right: -17px;
				}

				div {
					background-position: -855px 8px;
					padding-right: 54px;
					padding-left: 23px;
					left: inherit;
					right: 2px;
				}
			}

			&:nth-child(4) {
				width: 47px;
				height: 87px;
				background-position: -791px -664px;
				margin-left: 123px;
				margin-top: 2px;

				a {
					top: -8px;
					right: -23px;
				}

				div {
					background-position: -855px 8px;
					padding-right: 34px;
					padding-left: 23px;
					padding-top: 32px;
					left: inherit;
    				right: 2px;
				}
			}
		}
	}
}

.protecao {
	width: 100%;
	float: left;
	padding: 46px 9px 43px 0;

	.ico {
		width: 311px;
	    height: 263px;
	    background: url(../images/toner/sprite.png) no-repeat;
	    background-position: -854px -269px;
	    margin-left: 18px;
	    margin-top: 19px;
	}

	.text {
		width: 447px;

		h3 {
			line-height: 41px;
			letter-spacing: -0.5px;
		}

		p {
			margin-top: 18px;
			line-height: 26px;
			letter-spacing: -0.2px;

			span {
				top: -6px;
				right: 7px;
				position: relative;
			}
		}
	}
}

.footer {
	padding-top: 53px;
	padding-bottom: 70px;
	background: #f6f6f6;

	p {
		padding: 0 130px 0 59px;
		line-height: 16px;
	}

	.logo-footer {
		width: 210px;
		height: 54px;
		margin: 46px auto 0 auto;
		background: url(../images/toner/sprite.png) no-repeat;
    	background-position: -884px -540px;
	}
}
