@import 'vars.less';

.banner {
	position: relative;
    padding-top: 73px;
    padding-left: 0;
    background: #0096d6;
    height: 379px;

	h1 {
    	line-height: 39px;
	}

	.logo {
		width: 42px;
		height: 43px;
		position: absolute;
		top: 30px;
		right: 24px;
		background: url(../images/inkultra/sprite.png) no-repeat;
		background-position: -884px -571px;
	}
}

.cartuchos {
	width: 100%;
    height: 522px;
    margin: -72px auto 43px auto;
    position: relative;
    overflow: hidden;

	.item {
		background: url(../images/inkultra/sprite.png) no-repeat;
		position: absolute;
		top: 0;
		left: 0;

		&:nth-child(1) {
			width: 536px;
		    height: 283px;
		    background-position: -3px -970px;
		    z-index: 1;
		    left: -27px;
		}

		&:nth-child(2) {
			width: 523px;
		    height: 291px;
		    background-position: -580px -958px;
		    left: 472px;
		    top: -11px;
		    z-index: 0;
		}

		&:nth-child(3) {
			width: 960px;
		    height: 288px;
		    background-position: -42px -1273px;
		    left: 0px;
		    top: 229px;
		    z-index: 1;
		}

		&:nth-child(4) {
			width: 167px;
		    height: 198px;
		    background-position: 1px -489px;
		    left: 260px;
		    top: 19px;
		    z-index: 2;
		}

		&:nth-child(5) {
			width: 152px;
			height: 158px;
			background-position: 1px -333px;
			left: 294px;
			top: -1px;
			z-index: 1;
		}

		&:nth-child(6) {
			width: 142px;
		    height: 146px;
		    background-position: 1px -686px;
		    top: 23px;
		    left: 375px;
		    z-index: 1;
		}

		&:nth-child(7) {
			width: 127px;
		    height: 146px;
		    background-position: 1px -831px;
		    top: 1px;
		    left: 462px;
		    z-index: 0;
		}
	}
}

.amplie {
	p {
		&:nth-child(1) {
			line-height: 40px;
		}
	}

	.icons {
		position: relative;
		height: 349px;

		.item {
			background: url(../images/inkultra/sprite.png) no-repeat;
			position: absolute;
			top: 0;
			left: 0;

			&:nth-child(1) {
				width: 443px;
			    height: 223px;
			    background-position: -839px -723px;
			    top: 60px;
			    left: 257px;
			}
		}
	}
}

.feature {
	.itens {
		padding: 0 65px 0 69px;
		height: 148px;
		.item {
			width: 119px;
			height: 128px;
			padding: 20px 0 0 0;
			float: left;
			position: relative;
			cursor: pointer;

			&:before {
				width: 64px;
				height: 76px;
				content: '';
				background: url(../images/inkultra/sprite.png) no-repeat;
				display: block;
				margin: 0 auto;
			}

			&:nth-child(1) {
				margin-right: 52px;

				&:before {
				    margin-bottom: 22px;
				}
			}

			&:nth-child(2) {
				margin-right: 59px;

				&:before {
					width: 79px;
				    height: 67px;
				    margin-top: 7px;
				    margin-bottom: 22px;
				    background-position: -2px -340px;
				}
			}

			&:nth-child(3) {
				margin-right: 56px;

				&:before {
					background-position: 0px -258px;
					width: 84px;
					margin-bottom: 20px;
				}
			}

			&:nth-child(4) {
				margin-right: 45px;
				&:before {
					width: 96px;
					height: 90px;
					background-position: -2px -161px;
				    margin-top: -3px;
				}
			}

			&:nth-child(5) {
    			width: 137px;
				&:before {
					width: 82px;
					height: 80px;
					background-position: 0px -79px;
					margin-bottom: 17px;
				}
			}

			p {
				margin-top: 10px;
				text-transform: uppercase;
			}

			&:hover {
				.hover {
					display: block!important;
				}
			}

			.hover {
				position: absolute;
			    top: 100%;
			    left: -36px;
			    display: none;
			    width: 219px;
			    height: 106px;
			    margin-top: 14px;
			    border: 1px solid #d4d4d4;
			    border-bottom: 13px solid #0096d6;
			    z-index: 9999;
			    padding: 11px 18px;
			    line-height: 16px;
			    text-align: center;
				background: #FFF;

				&:before {
					content: "";
				    display: inline-block;
				    vertical-align: middle;
				    margin-right: 10px;
				    width: 0;
				    height: 0;
				    border-left: 12px solid transparent;
				    border-right: 12px solid transparent;
				    border-bottom: 12px solid white;
				    position: absolute;
				    top: -12px;
				    left: 97px;
				}

				p {
					margin-top: inherit;
					text-transform: inherit;
				}
			}
		}
	}
}

.reinventou {
	margin-top: 69px;

	> p {
		line-height: 42px;
	}

	iframe {
		margin-top: 17px;
		height: 478px;
	}

	.videos {
		padding: 13px 86px 0;
		margin-top: -3px;
		height: 155px;

		.slick-track {
			padding-top: 10px;
		}

		button {
			width: 22px;
			height: 35px;
			position: absolute;
			top: 60px;
			font-size: 0;
			background: none;
			border: none;
			background: url(../images/inkultra/sprite.png) no-repeat;
			padding: 0;

			&:first-child {
				left: 38px;
				background-position: -179px -596px;
			}

			&:last-child {
				right: 38px;
				background-position: -203px -596px;
			}
		}

		.item {
			padding: 0 10px;
			cursor: pointer;

			&.active {
				p {
					opacity: 1;
				}

				img {
					border: 4px solid @orange;
					.border-radius();
					margin-top: -5px;
					width: 145px;
					max-width: inherit;
				}
			}

			img {
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}

			p {
				opacity: 0.4;
				margin-top: 11px;
				padding: 0 7px;
			}
		}
	}
}

.cartucho {
	margin-top: 47px;
    padding-left: 79px;
    position: relative;

	> p {
		&.title {
		    line-height: 39px;
		}

		&.description {
			line-height: 25px;
			margin-top: 10px;
			margin-left: 0;
		}
	}

	.itens {
		.item {
			width: 135px;
			float: left;

			.figure {
				background: url(../images/inkultra/sprite.png) no-repeat;
			}

			&:nth-child(1) {
				margin-right: 73px;
				margin-top: 57px;
				margin-left: 0;

				.figure {
					width: 134px;
				    height: 148px;
				    margin-bottom: 10px;
				    display: block;
				    background-position: 0 -391px;
				}

				p {
					&.high {
						width: 165px;
					    margin: 0 -14px 7px;
					    padding: 6px 0;
					}

					&:last-child {
						width: 141px;
					    margin-top: 7px;
					}
				}
			}

			&:nth-child(2) {
				margin-top: 56px;

				.figure {
					width: 134px;
				    height: 186px;
					margin-top: 19px;
				    margin-bottom: 10px;
				    display: block;
				    background-position: 0 -539px;
				}

				> p {
					&:nth-child(3) {
						text-transform: uppercase;
						margin-top: 21px;
					}
				}
			}

			&:nth-child(3) {
				width: 139px;
			    margin-top: 58px;
			    margin-left: 68px;

				.figure {
					width: 145px;
				    height: 184px;
					margin-top: 19px;
				    margin-bottom: 10px;
				    display: block;
				    background-position: -1px -725px;
				}

				> p {
					&:nth-child(3) {
						text-transform: uppercase;
						margin-top: 21px;
					}
				}
			}
		}
	}

	.paper {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		height: 600px;

		.item {
			background: url(../images/inkultra/sprite.png) no-repeat;

			&:nth-child(1) {
				background-position: -625px 0px;
			    width: 226px;
			    height: 100%;
			    position: absolute;
			    top: 6px;
			    left: 55px;
			    z-index: 1;
			}
		}
	}
}

.destaques {
	padding: 0 0 0 146px;
	margin-top: 65px;

	.item {
		float: left;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background: url(../images/inkultra/sprite.png) no-repeat;
		}

		&:nth-child(1) {
			padding-left: 72px;
			&:before {
				width: 54px;
				height: 69px;
				background-position: -171px -645px;
			}

			p:first-child {
				margin-top: 10px;
				margin-bottom: 8px;
				text-transform: uppercase;
			}
		}

		&:nth-child(2) {
			padding-left: 81px;
			margin-left: 109px;

			&:before {
				width: 63px;
			    height: 69px;
			    background-position: -171px -719px;
			}

			p:first-child {
				margin-top: 10px;
				margin-bottom: 8px;
				text-transform: uppercase;
			}
		}
	}
}

.video {
	margin-top: 70px;

	iframe {
		height: 537px;
	}
}

.jatem {
	padding: 50px 30px 0 93px;

	.text {
		width: 330px;
		margin-top: 29px;
		float: left;

		p {
			&:last-child {
				margin-top: 17px;
				line-height: 23px;
			}
		}
	}

	.figure {
		width: 426px;
	    height: 269px;
	    float: right;
	    background: url(../images/inkultra/sprite.png) no-repeat;
	    background-position: -178px -7px;
	}
}

.impressoras {
	margin-top: 76px;

	p {
		&:nth-child(2) {
			margin-top: 21px;
			line-height: 23px;
		}
	}

	.item {
		width: 200px;
		float: left;

		.figure {
			width: 100%;
			height: 200px;
			background: url(../images/inkultra/sprite.png) no-repeat;
		}

		&:nth-child(3) {
			width: 281px;
			margin-top: 80px;
		    margin-left: 19px;

			.figure {
				height: 128px;
			    background-position: -1265px -45px;
			}

			.text {
				padding: 41px 0 0 36px;

				p {
					&:first-child {
						line-height: 25px;
					}

					&:last-child {
						line-height: 15px;
					    margin-top: 15px;
					}
				}
			}
		}

		&:nth-child(4) {
			width: 281px;
		    margin-top: 68px;
		    margin-left: 37px;

			.figure {
				height: 158px;
			    background-position: -1265px -288px;
			}

			.text {
				padding: 23px 0 0 36px;

				p {
					&:first-child {
						line-height: 25px;
					}

					&:last-child {
						line-height: 16px;
					    margin-top: 15px;
					}
				}
			}
		}

		&:nth-child(5) {
			width: 281px;
		    margin-top: 68px;
		    margin-left: 40px;

			.figure {
				height: 158px;
			    background-position: -1265px -555px;
			}

			.text {
				padding: 23px 0 0 36px;

				p {
					&:first-child {
						line-height: 25px;
					}

					&:last-child {
						line-height: 16px;
					    margin-top: 15px;
					}
				}
			}
		}
	}
}

.footer {
	margin-top: 79px;
	padding-top: 67px;
	padding-bottom: 70px;
	background: #f6f6f6;

	p {
		padding: 0 50px 0 60px;
		line-height: 16px;
	}

	.logo-footer {
		width: 210px;
	    height: 61px;
	    margin: 58px auto 0 auto;
	    background: url(../images/inkultra/sprite.png) no-repeat;
	    background-position: -884px -510px;
	}
}

.elevate {
	font-size: 8px;
	vertical-align: top;
}
