//vars colors
@dftext: #353c3c;
@hpcolor: #0096d6;
@hpcolorl: #01b3e3;
@orange: #e98232;
@l-gray: #f2f2f2;

//var fonts
@regular: "HPSimplifiedRegular";
@default: "HPSimplified";
@light: "HPSimplifiedLight";

.border-radius(@px: 5px) {
    -webkit-border-radius: @px;
    -moz-border-radius: @px;
    border-radius: @px;
}

.animate(@type: all, @time: 1s) {
    -webkit-transition: @type @time ease-in-out;
    -moz-transition: @type @time ease-in-out;
    -o-transition: @type @time ease-in-out;
    transition: @type @time ease-in-out;
}
